<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
    </head>
    <body>

<div class="container">

    <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              3rd May 2020<br> 7:00 PM
            </div>
            <div class="item-title">
                <p>
                I have joined the Hong Leng Huor Co., Ltd company (www.hlhtransport.com) as a Senior iOS Developer. I promise to build the best application support business, adoption, quality, standards,
and the flexible environment when I can utilize my technical skills & ability to acquire
sound knowledge of emerging technologies while at the same time help the organization to
achieve their objectives.
</p>

<p>I will responsible:<br>
    - Lead a mobile team<br>
    - Maintenance of existing project (iOS & Android)<br>
    - Understand Scrum, JIRA, and Asana for the development team
</p>

            </div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              19th May 2020<br> 3:00 PM
            </div>
            <div class="item-title">Mia Redwood commented on your last post.</div>
  
          </li>
  
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              17st June 2020<br> 7:00 PM
            </div>
            <div class="item-title">Lucas McAlister just send you a message.</div>
  
          </li>
  
        </ul>
  
      </div>
    </div>
  </div>
    </body>
</html>