<!DOCTYPE html>
<html>
   <head>
      <title>SENGHORT KHEANG - iOS Developer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="cache-control" content="no-cache" />
      <meta http-equiv="Pragma" content="no-cache" />
      <meta http-equiv="Expires" content="-1" />
      <!-- <link rel="apple-touch-icon" href="favicon.ico" /> -->
      <link rel="icon" type="image/png" href="images/favicon.ico"/>
      <link rel="stylesheet" type="text/css" href="css/superslides.css" />
      <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
            crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" 
            crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Oswald&display=swap"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=PT+Sans+Caption&display=swap"/>
      <link rel="stylesheet" type="text/css" href="css/style.css" />
      
      <script src="js/jquery.min.js"></script>
      <script src="js/jquery.superslides.min.js"></script>
      <script src="js/countUp.js"></script>
      <script src="js/countUp-jquery.js"></script>
      <script src="js/jquery.easypiechart.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      <script src="js/typed.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
               integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
               crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
               integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
               crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
      <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
      <script src="js/script.js"></script>
   </head>
   <body>
      <div class="loader-wrapper">
         <span class="loader"><span class="loader-inner"></span></span>
      </div>
      <div class="check-out-header">
      </div>
      <div id="slides">
         <div class="overlay"></div>
         <div class="slides-container">
         </div>
         <div class="titleMessage">
            <div class="heading">
               <p class="main">SENGHORT KHEANG</p>
               <p class="sub typed"></p>
               <!-- <p class="alternate-job"></p> -->
               <div class="location-box margin-top-xl">
                  <i class="fas fa-map-pin"></i>
                  <p class="location-text margin-remove-bottom">1413 N Carson ST, Carson City, NV 89701</p>
               </div>
            </div>
         </div>
      </div>
      <!-- Nav Menu -->
      <nav id="navigation" class="navbar navbar-expand-lg">
         <div class="brand">
            <a class="navbar-brand" href="#slides">HOME</a>
         </div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
               <li class="nav-item item0">
                  <a class="nav-link" href="#about">ABOUT</a>
               </li>
               <li class="nav-item item1">
                  <a class="nav-link" href="#educations">EDUCATIONS</a>
               </li>
               <li class="nav-item item2">
                  <a class="nav-link" href="#experiences">WORK EXPERIENCES</a>
               </li>
               <li class="nav-item item3">
                  <a class="nav-link" href="#skills">SKILLS</a>
               </li>
               <li class="nav-item item4">
                  <a class="nav-link" href="#portfolio">PROJECTS</a>
               </li>
               <li class="nav-item item5">
                  <a class="nav-link" href="#contact">CONTACT</a>
               </li>
            </ul>
         </div>
      </nav>
      <!-- About Section -->
      <div id="about" class="section aboutSection">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <img class="aboutImage dark-theme-shadow" src="images/profile.jpeg"/>
               </div>
               <div class="col-md-7 aboutInfo">
                  <h5 id="work">I have worked in the programming for 7 years. My latest position was at <span class = 'color-primary'>Mayura, Hong Leng Huor Co., Ltd,</span></h5>
                  <div class="my-details">
                     <h5 class="text-large office-text">devoting office hours to developing the Mayura app.</h5>
                     <h5 class="text-large spare-text">In my spare time, I <span class = 'color-primary'>develop</span> iOS apps and <span class = 'color-primary'>explore</span> tech.</h5>
                     <h5 class="text-large language-text">I code in Swift, Kotlin, HTML, CSS, Javascript, Django, and Python</h5>
                     <h5 class="text-large hobby-text">I <span class = 'color-primary'>love</span> to talk about <span class = 'color-primary'>iOS</span>, <span class = 'color-primary'>technology,</span> and <span class = 'color-primary'>life</span>.</h5>
                     <h5 class="margin-top-m text-large contribution-text">I've recently created an <a href='https://github.com/ithemecambo' target='_blank'><span class = 'color-palatte-4'> Github</span></a> handle to share my knowledge, connect with awesome people, and help other developers with iOS & Web dev.</h5>
                     <p class="margin-top-l">
                        <span class="highlight text-medium motto">My long term goal is to develop something that makes a difference in people's life.</span>
                     </p>
                  </div>
                  <!-- <h5 id="work"></h5>
                  <div class="my-details">
                     <h5 class="text-large office-text"></h5>
                     <h5 class="text-large spare-text"></h5>
                     <h5 class="text-large language-text"></h5>
                     <h5 class="text-large hobby-text"></h5>
                     <h5 class="text-large game-text"></h5>
                     <h5 class="margin-top-m text-large contribution-text"></h5>
                     <p class="margin-top-l">
                        <span class="highlight text-medium motto"></span>
                     </p>
                  </div> -->
                  <h5 class="services-header margin-top-l">What can I do?</h5>
                  <div class="services">
                     <div class="grid-data">
                        <div class="hex-wrap">
                           <div class="hexagon">
                              <i class="fab fa-app-store-ios"></i>
                           </div>
                        </div>
                        <div class="label text-center">iOS Development</div>
                     </div>
                     <div class="grid-data">
                        <div class="hex-wrap">
                           <div class="hexagon">
                              <i class="material-icons location-icon">web</i>
                           </div>
                        </div>
                        <div class="label text-center">Web Development</div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Education Section -->
      <div id="educations" class="educationsSection section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 style="opacity: 1;" id="educations-title">EDUCATION</h2>
               </div>
               <div class="rightbox">
                  <div class="rb-container">
                     <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/rupp-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>Royal University of Phnom Penh</h5>
                                    <h6>M.S., Information Technology Engineering</h6>
                                    <p>Jul-2015 ~ Dec-2017</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <p>
                                 I studied for a Master's Degree. I got a scholarship to exchange program topic of Geographic Information System and Technologies, in the Computer Science Department, at Minho University, Portugal (<a href="https://alunos.uminho.pt/EN" target="_blank">https://alunos.uminho.pt/EN</a>) by implementing the project and writing thesis to complete my master course. Especially I improved my knowledge both my own skill and general concept (critical thinking, problem-solving) before deciding to do something.
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/rupp-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>Royal University of Phnom Penh</h5>
                                    <h6>B.S., Computer Science and Engineering</h6>
                                    <p>Oct-2010 ~ Mar-2014</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <p>
                                 We learn about general basic concepts in probability and statistical interence theories. Especailly we study the fundamental of orientation subjects such as Match, C. I always love writing code and researching new technology.
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/rupp-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>Royal University of Phnom Penh</h5>
                                    <h6>Tranning Course, Business and Mobile App</h6>
                                    <p>Apr-2014 ~ Jun-2014</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <p>
                                 I learn a lot of business logic concept and how to build a mobile iOS app.
                                 <br>
                                 This course supported by Headwaters company at Japan <a href="http://www.headwaters.co.jp" target="_blank">http://www.headwaters.co.jp</a>
                              </p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Experience Section -->
      <div id="experiences" class="experiencesSection section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 style="opacity: 1;" id="experiences-title">WORK EXPERIENCE</h2>
               </div>
               <div class="rightbox">
                  <div class="rb-container">
                     <ul class="rb">
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/hong-leng-huor-logo.png">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>Supervisor iOS Developer</h5>
                                    <h6>Heng Leng Huor Co., Ltd</h6>
                                    <p>Aug-2020 ~ Present<br>
                                       #116, St. 360, Sangkat Toul Svay Prey I, Khan Boeung Keng Kang, Phnom Penh
                                    </p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <br>
                              <p>
                                 I joined the Hong Leng Huor Co., Ltd company (<a href="www.hlhtransport.com" target="_blank">www.hlhtransport.com</a>) as a Supervisor iOS Developer. I promised to build the best application support business, adoption, quality, standards,
                                 and a flexible environment where I could utilize my technical skills & ability to acquire
                                 sound knowledge of emerging technologies while at the same time help the organization to
                                 achieve their objectives.
                              </p>
                              <p>I will responsible:<br>
                                 - Lead a mobile team<br>
                                 - Maintenance of existing project (iOS & Android)<br>
                                 - Understand Scrum, JIRA, and Asana for the development team
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/seatel-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>Senior iOS Developer</h5>
                                    <h6>South Asia Telecom Cambodia (Seatel)</h6>
                                    <p>Jan-2019 ~ Jul-2020 <br>
                                       #149, St.432, Sangkat Beoung Trabek, Khan Chamkarmorn, Phnom Penh
                                    </p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <br>
                              <p>
                                 I joined Seatel Group company (<a href="www.yes.com.kh" target="_blank">www.yes.com.kh</a>) as an iOS Developer. Seeking a challenging & responsible position in a flexible environment where I can utilize my technical skills & ability to acquire sound knowledge of emerging technologies while at the same time help organization to achieve their objectives.
                                 <br>
                                 I hereby affirm that all the information in this document is accurate and true to the best of my knowledge.
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/eze-app-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>iOS Developer</h5>
                                    <h6>EZE APP Co., Ltd</h6>
                                    <p>May-2017 ~ Jan-2019 <br> #9, St. 6, Kilo 6, Russey Keo, Phnom Penh</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <br>
                              <p>
                                 I joined EZE APP company (<a href="http://www.eze-app.com" target="_blank">http://www.eze-app.com</a>) as an iOS Developer. I am experienced with mobile UX/UI design and development three years (two and a half years a Japanese company, 3 months with a Singapore company and currently working with a Khmer company base on building app mWallet or eWallet). I graduated Bachelor' degree and Master's degree at the Royal University of Phnom Penh with a Computer Science and Engineering.
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/softbloom-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>iOS Developer</h5>
                                    <h6>Softbloom Co., Ltd</h6>
                                    <p>Nov-2014 ~ Feb-2017 <br> #E19, Pre Tea Village, Sangkat Chom Chao, Khan Por Senchey, Phnom Penh</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <br>
                              <p>
                                 I joined Softbloom co, Ltd. I used language objective-c and swift for developing applications depending on customer requirements. Otherwise, I could build an android app the good quality to deploy on the play store.
                              </p>
                           </div>
                        </li>
                        <li class="rb-item" ng-repeat="itembx">
                           <div class="timestamp">
                              <span>
                                 <div class="image-leftbox">
                                    <img src="images/rupp-logo.jpeg">
                                 </div>
                                 <div class="text-rightbox">
                                    <h5>IT Assistant</h5>
                                    <h6>Royal University of Phnom Penh</h6>
                                    <p>Oct-2012 ~ Feb-2014 <br> Russian Federation Boulevard, Toul Kork, Phnom Penh</p>
                                 </div>
                              </span>
                           </div>
                           <div class="item-title">
                              <br>
                              <p>
                                 I was a respond to all of the tasks in a Lab room
                                 <br>
                                 - Check network & sharing documents.<br>
                                 - Help students correct syntax during their practice writing code in a lab room.<br>
                                 - I got a lot of experience from the teacher when they teach to the student.
                              </p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Skill Section -->
      <div id="skills" class="skillsSection section">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center">
                  <h2 style="opacity: 1;" id="technical-title">TECHNICAL SKILLS</h2>
                  <p class="techSkillsInfo left-double" style="opacity: 1;">
                     What I like to do and what my superpowers are
                  </p>
               </div>
               <div class="skill-showcase">
                  <img
                     src="./images/dev.svg"
                     class="dark-theme-shadow margin-right-xs"
                     />
                  <div class="margin-top-xl skills-container">
                     <div>
                        <h6>Programming Languages</h6>
                        <ul class="dev-skills">
                           <li class="skill" data-toggle="tooltip" title="Swift 5">
                              <i class="fab fa-swift" title="swift"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="Python 3">
                              <i class="fab fa-python"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="Javascript">
                              <i class="fab fa-js"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="HTML 5">
                              <i class="fab fa-html5"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="CSSv3">
                              <i class="fab fa-css3-alt"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="Java">
                              <i class="fab fa-java"></i>
                           </li>
                        </ul>
                     </div>
                     <div class="margin-top-s">
                        <h6>Utility Skills</h6>
                        <ul class="dev-skills">
                           <li class="skill" data-toggle="tooltip" title="Github">
                              <i class="fab fa-github"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="Gitlab">
                              <i class="fab fa-gitlab"></i>
                           </li>
                           <li class="skill" data-toggle="tooltip" title="Jira">
                              <i class="fab fa-jira"></i>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio of Projects -->
      <div id="portfolio" class="section-small">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text-center" style="padding-bottom: 16px;">
                  <h2 id="portfolio-title" style="opacity: 1;">PROJECTS</h2>
               </div>
               <div class="filter" style="opacity: 1;">
                  <ul id="filters">
                     <!-- <li><a href="#" data-filter="*">ALL</a></li> -->
                     <li><a href="#" data-filter=".ios" class="current">iOS</a></li>
                     <li><a href="#" data-filter=".web">WEB</a></li>
                  </ul>
               </div>
               <div class="col-md-12 itemsContainer align-items-center" id="items-left-double" style="opacity: 1;">
                  <ul class="items margin-top-xl large">
                     <li onclick="" class="ios col-xs-3 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-mayura-app.jpg"/>
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-mayura-app.jpg"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="Mayura app aims to provide you with a seamless mobile shopping experience with functionalities such as searching for products using voice commands and camera functionalities."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a href="https://apps.apple.com/kh/app/mayura-trusted-marketplace/id1512933523" target="_blank" class="projectLink">
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>
                                 Mayura - Heng Leng Huor Co., Ltd
                              </h3>
                              <p>Swift 5, Alamofire, SwiftyJSON, Crashlytics, Firebase</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-yes-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-yes-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="Yes app provide the platform for access accounts and discover yes deals in store. Especailly you can access your account anytime and anywhere."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a href="https://apps.apple.com/us/app/yes-seatel/id1124770704" target="_blank" class="projectLink">
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>
                                 yes app - South Asia Telecom Cambodia
                              </h3>
                              <p>Swift 4.2, Alamofire, SwiftyJSON, Crashlytics, Firebase</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-daiku-app.png"/>
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-daiku-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="daiku app is the application for yes seatel partners (dealers) to operate their daily business"
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a href="https://apps.apple.com/us/app/yes-daiku/id1208062867" target="_blank" class="projectLink">
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>daiku app - South Asia Telecom Cambodia</h3>
                              <p>Swift 4.2, Alamofire, Crashlytics, Firebase</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-postransfer-agent-app.jpg" />
                           ̉
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-postransfer-agent-app.jpg"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="posTTransfer Agent mobile app on your smartphone and access your account anytime and anywhere."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://apps.apple.com/us/app/posttransfer-agent/id1334650032"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>postransfer agent - EZE APP Co., Ltd</h3>
                              <p>
                                 Swift 4.2, Alamofire, SwiftyJSON, Socket IO, Anyline
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-postransfer-client-app.jpg" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-postransfer-client-app.jpg"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="posTTransfer mobile app on your smartphone and access your posTransfer Account and all posTTransfer Services instantly, anytime and anywhere."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://apps.apple.com/us/app/posttransfer/id1332560655"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>postransfer agent - EZE APP Co., Ltd</h3>
                              <p>Swift 4.2, Alamofire, SwiftyJSON, Socket IO, Anyline</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-we4book-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-we4book-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="Every day, anywhere, anytime in around the kingdom of wonder all kinds of accommodation are reserved on we4book."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://apps.apple.com/us/app/we4book/id1394383891"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>We4Book - EZE APP Co., Ltd</h3>
                              <p>
                                 Swift 4.2, Alamofire, SwiftyJSON
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-tmorprap-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-tmorprap-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="TMORPRAP is the audio guide in your pocket. It's like having a personal tour guide everywhere you go, who will tell you about the most interesting stories behind Cambodia's famous tourist destinations."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://apps.apple.com/us/app/tmorprap/id1445137069"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>TmorPrap - EZE APP Co., Ltd</h3>
                              <p>
                                 Swift 5.0, Alamofire, SwiftyJSON
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-ecommerce-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-ecommerce-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="eCommerce iOS App Templates, compatible with iPhones & iPads. By leveraging these gorgeous ready-to-use Xcode projects written in Swift you can make your own shopping app in just a few minutes."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://www.youtube.com/watch?v=-B06GeyZnc0"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>uBuy - ithemecambo</h3>
                              <p>
                                 Swift 5.0, Alamofire, SwiftyJSON
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-tmorprap-admin.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-tmorprap-admin.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="TMORPRAP-AD is the audio guide in your pocket. It's like having a personal tour guide that allow you to upload something from everywhere, who will tell you about the most interesting stories behind Cambodia's famous tourist destinations."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://apps.apple.com/us/app/tmorprap/id1445137069"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>TmorPrap Admin - EZE APP Co., Ltd</h3>
                              <p>
                                 Swift 5.0, Alamofire, SwiftyJSON
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-movie-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-movie-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="iMovie is iOS App Templates, compatible with iPhones & iPads. I already intergated with DBMovie database, so you access everything as dynamically from real data."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a hidden 
                                 href="#"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>iMovie - ithemecambo</h3>
                              <p>
                                 Swift 5.0, Alamofire, SwiftyJSON
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-ebanking-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-ebanking-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="eBanking is iOS App Templates that I was design as a static layout, however it has all of functionalities supported bank."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a hidden 
                                 href="#"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>eBanking - ithemecambo</h3>
                              <p>
                                 Swift 5.0
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="ios col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="images/projects/iOS-camcar-app.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/iOS-camcar-app.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="is iOS App Templates that I was design as a static layout, however it has all of functionalities supported car market."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a hidden 
                                 href="#"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>CamCar</h3>
                              <p>
                                 Swift 5.0
                              </p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="web" style="width: 100%;">
                        <div class="item web-app">
                           <img src="images/projects/web-job-dashboard.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/web-job-dashboard.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption=""
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a 
                                 href="https://github.com/ithemecambo/job_managment_system"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>Online Job - Job Portal</h3>
                              <p>Python, Django, HTML5, CSS3 & Javascript</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="web" style="width: 100%;">
                        <div class="item web-app">
                           <img src="images/projects/web-hospital-dashboard.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/web-hospital-dashboard.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="RMS - Medical & Hospital is a fully responsive and easily customizable template built with the Bootstrap 4+ framework, latest web technology HTML5, CSS3, MySQL, and Python Django."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://github.com/ithemecambo/hospital_management_system"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>HRM - Medicine & Hospital</h3>
                              <p>Python, Django, SQLite, MySQL, HTML5, CSS3 & Javascript</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <li onclick="" class="web" style="width: 100%;">
                        <div class="item web-app">
                           <img src="images/projects/web-book-home.png" />
                           <div class="icons">
                              <a
                                 href="images/projects/web-book-home.png"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption="The “Book Catalog” is designed to “help users manage and organize their collection of books”. It is a fully responsive and easily customizable template built with the latest web technology HTML5, CSS3, Javascript, Postgres, and Node JS."
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="https://github.com/dvmountain-learn/capstone-book-catalog.git"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>Book Catalog</h3>
                              <p>HTML5, CSS3, Javascript, Postgres, and Node JS</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li>
                     <!-- <li onclick="" class="web col-xs-6 col-sm-6 col-md-5 col-lg-4">
                        <div class="item">
                           <img src="#" />
                           <div class="icons">
                              <a
                                 href="#"
                                 title="View image"
                                 class="openButton"
                                 data-fancybox
                                 data-caption=""
                                 >
                              <i class="fa fa-info-circle"></i>
                              </a>
                              <a
                                 href="#"
                                 target="_blank"
                                 class="projectLink"
                                 >
                              <i class="fa fa-link"></i>
                              </a>
                           </div>
                           <div class="portfolio-info">
                              <h3>Music - Music Portal</h3>
                              <p>HTML5 , CSS3 & Codinigtor</p>
                           </div>
                           <div class="imageOverlay"></div>
                        </div>
                     </li> -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <!-- Contact Section -->
      <div id="contact" class="contactSection section">
         <div class="col-md-12 text-center">
            <p class="subheading text-medium" id="contact-desc" style="opacity: 1;">
               Like what you see?
            </p>
            <h2 id="contact-me" style="opacity: 1;">I'd love to hear from you!</h2>
            <a href="mailTo:senghort.rupp@gmail.com" class="contactButton"
               ><i class="fas fa-paper-plane"></i
               ><span style="font-weight: 700;"> GET IN TOUCH!</span></a
               >
         </div>
      </div>
      <!-- Copyright Section -->
      <div class="copyrightSection">
         <h3>Connect with me on</h3>
         <div class="icon-wrap flex text-center" style="height: 105px;">
            <a href="https://www.linkedin.com/in/senghortkheang" target="_blank" title="LinkedIn">
               <div class="flex icon" id="icon-2">
                  <i class="fab fa-linkedin-in"></i>
               </div>
            </a>
            <a href="https://telegram.me/kheangsenghort" target="_blank" title="Telegram">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-telegram"></i>
               </div>
            </a>
            <a href="skype:kheang.senghort2?chat" target="_blank" title="Skype">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-skype"></i>
               </div>
            </a>
            <a href="https://www.instagram.com/kheang.senghort" target="_blank" title="Instagram">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-instagram"></i>
               </div>
            </a>
            <a href="https://www.facebook.com/kheang.senghort.5" target="_blank" title="Facebook">
               <div class="flex icon" id="icon-3">
                  <i class="fab fa-facebook-f"></i>
               </div>
            </a>
            <a href="https://github.com/ithemecambo" target="_blank" title="Github">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-github"></i>
               </div>
            </a>
            <a href="https://stackoverflow.com/users/9010828/senghort" target="_blank" title="Stack Overflow">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-stack-overflow"></i>
               </div>
            </a>
            <a href="https://www.youtube.com/channel/UCGCzg18fbnLAOSJLmemcjig" target="_blank" title="Youtube">
               <div class="flex icon" id="icon-5">
                  <i class="fab fa-youtube"></i>
               </div>
            </a>
         </div>
         <div class="col-md-12 text-center">
            <p>SENGHORT KHEANG <span class="highlight">&copy;<script type="text/javascript">
               var currentYear = new Date().getFullYear()
               document.write(currentYear)
            </script></span></p>
         </div>
      </div>
   </body>
</html>